*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main{
    min-height: 70vh;
}

h1{
    color: #000000;
}

footer{
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.titulos-footer{
    font-weight: 300;
    display: inline-block;
    padding-bottom: .6rem;
    margin: 1rem 0;
    position: relative;
}

.titulos-footer:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: .2rem solid #0000e6;
}

.sobre-mi p{
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
    color: #e0e0e0;
}

.redes-sociales{
    display: flex;
    gap: 1rem;
    margin: .5rem 0;
}

.redes-sociales a{
    padding: .6rem;
    background-color: #303030;
    border-radius: .2rem;
}

.redes-sociales a:hover{
    background-color: #0000e6;
}

.fa-brands{
    font-size: 1.3rem;
}

.navegacion li a{
    display: inline-block;
    margin-bottom: .8rem;
    color: #e0e0e0;
}

.navegacion li a:hover{
    color: white;
}

.informacion-contacto li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.informacion-contacto p{
    color: #e0e0e0;
}

.fa-solid{
    font-size: 1.2rem;
    max-height: 1rem;
    max-width: 1rem;
}

.copy{
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
    background-color: #ffffff;
    background-color: #303030;
    padding: .5rem;
}

@media (min-width: 700px){
    .contenedor{
        flex-direction: row;
    }
    .sobre-mi{
        width: 40%;
    } 
}